.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url('https://focus.ua/static/storage/originals/1/6a/5a57c7fd43aabeea66a495b623a006a1.jpg');
    background-size: cover;
}

.logo-container-su {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    z-index: 2;
}

.logo-container-su img {
    max-width: 200px;
    height: auto; 
    object-fit: contain; 
}

#container-su {
    height: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.inner-container-su {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-info-container {
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(211, 211, 211, 0.75);
    width: 30%;
    height: 30%;
    color: #000000;
    font-size: 16px;
    padding: 80px 20px 0px 40px;
}

.right-info-container a{
    color: black;
}

.right-info-container a:hover{
    color: rgb(214, 2, 2);
    cursor: pointer;
}

#form-container-su{
    border: 0px;
    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.95);
    padding: 60px;
    gap: 10px;
    margin-left: auto;
    color: black;
    width: 75%;
    font-size: 16px;
}

#form-container-su form {
    display: flex;
    flex-direction: column;
    width: 350px;
}


.field-su{
    width: 100%;
    height: 36px;
    border: solid 1px;
    border-radius: 50px;
    background-color: transparent;
    margin-bottom: 25px;
    margin-top: 10px;
}

#form-container-su  button[type="submit"]{
    margin-top: 10px;
    height: 52px;
    font-size: 20px;
    border-color: #F1F1F2;
    background-color: rgb(37, 39, 51);
    color: #F1F1F2;
}

#form-container-su button[type="submit"]:hover{
    background-color: rgb(48, 52, 70);
    transition: all 200ms;
    cursor: pointer;
}